div#collections
    if result.length == 0
        tr
            td 没有搜索到任何内容
    else
        table(data-toggle="table")
            thead
                tr
                    th(style="text-align: center;width:100px") 专题名
                    th(style="text-align: left;width:60px") 文章数
                    th(style="text-align:center;width:100px") 关注用户
                    th 专题描述
            tbody
                each collections in result
                    tr
                        td
                            a(href='http://www.jianshu.com/collection/' + '#{collections.id}') #{collections.title}
                        td #{collections.articleCount}
                        td #{collections.follower}
                        td #{collections.description}