div#collections
    if result.length == 0
        tr
            td 没有搜索到任何内容
    else
        table(data-toggle="table", data-sort-name="follower", data-sort-order="desc")
            thead
                tr
                    th 专题名
                    th(data-field="articleCount", data-sortable="true") 文章数
                    th(data-field="follower", data-sortable="true") 关注用户
                    th 专题描述
            tbody
                each collections in result
                    tr
                        td
                            a(href='http://www.jianshu.com/collection/' + '#{collections.id}') #{collections.title}
                        td #{collections.articleCount}
                        td #{collections.follower}
                        td #{collections.description}