extends layout

block content
    block header
        table
            th
                tr
                    td
                        a(href='/') 首页
                    td
                        a(href='/jianshu') 文章列表
        hr
    table(style="width: 100%; margin: 0 auto")
        tr
            td
                div#myInfo(style="float:left")
                    table
                        thead
                            tr
                                td 日期
                                td 关注
                                td 粉丝
                        tbody
                            each result in info
                                tr
                                    td #{result.date}
                                    td #{result.following}
                                    td #{result.follower}
            td
                div#container(style="float:left; min-width: 600px; height: 300px; margin: 0 auto; width: 70%")
                    script.
                        var arrToMultiArr = function (arr) {
                            var result = new Array()
                            for (var i = 0; i < arr.length; i++) {
                                var date = arr[i]
                                result.push([date])
                            }
                            return result
                        };
                        var followerList = arrToMultiArr([#{followerList}]);
                        var followingList = arrToMultiArr([#{followingList}]);
                        var dateList = arrToMultiArr([#{dateList}]);
                        $(function () {
                            $('#container').highcharts({
                                title: {
                                    text: '个人信息时势图',
                                    x: -20 //center
                                },
                                subtitle: {
                                    text: '数据来源: jianshu.com',
                                    x: -20
                                },
                                xAxis: {
                                    categories: dateList
                                },
                                yAxis: {
                                    title: {
                                        text: '人数'
                                    },
                                    plotLines: [{
                                        value: 0,
                                        width: 1,
                                        color: '#808080'
                                    }]
                                },
                                tooltip: {
                                    valueSuffix: '人'
                                },
                                legend: {
                                    layout: 'vertical',
                                    align: 'right',
                                    verticalAlign: 'middle',
                                    borderWidth: 0
                                },
                                series: [{
                                    name: '关注',
                                    data: followingList
                                }, {
                                    name: '粉丝',
                                    data: followerList
                                }]
                            });
                        });
    div(style="height: 50px")
    div
        span#myArticle
            table
                thead
                    tr
                        td 文章标题
                        td 发布时间
                        td 阅读量
                        td 评论
                        td 喜欢
                    tbody
                        each article in myArticle
                            tr
                                td(style="text-align: left;")
                                    a(href='http://www.jianshu.com' + '#{article.articleHref}') #{article.article}
                                td #{article.publishDate}
                                td #{article.reading}
                                td #{article.comment}
                                td #{article.favorite}
