extends layout

block content
    include header
    table(style="width: 100%; margin: 0 auto")
        tr
            td
                div#myInfo
                    table(data-toggle="table")
                        thead
                            tr
                                th 日期
                                th 收获喜欢
                                th 粉丝
                        tbody
                            each result in info
                                tr
                                    td #{result.date}
                                    td #{result.favorite}
                                    td #{result.follower}
            td
                div#container(style="float:left; min-width: 600px; height: 300px; margin: 0 auto; width: 70%")
                    script.
                        var arrToMultiArr = function (arr) {
                            var result = new Array()
                            for (var i = 0; i < arr.length; i++) {
                                var date = arr[i]
                                result.push([date])
                            }
                            return result
                        };
                        var followerList = arrToMultiArr([#{followerList}]);
                        var favoriteList = arrToMultiArr([#{favoriteList}]);
                        var dateList = arrToMultiArr([#{dateList}]);
                        $(function () {
                            $('#container').highcharts({
                                title: {
                                    text: '个人信息时势图',
                                    x: -20 //center
                                },
                                subtitle: {
                                    text: '数据来源: jianshu.com',
                                    x: -20
                                },
                                xAxis: {
                                    categories: dateList
                                },
                                yAxis: {
                                    title: {
                                        text: '数量'
                                    },
                                    plotLines: [{
                                        value: 0,
                                        width: 1,
                                        color: '#808080'
                                    }]
                                },
                                tooltip: {
                                    valueSuffix: '人'
                                },
                                legend: {
                                    layout: 'vertical',
                                    align: 'right',
                                    verticalAlign: 'middle',
                                    borderWidth: 0
                                },
                                series: [{
                                    name: '收获喜欢',
                                    data: favoriteList
                                }, {
                                    name: '粉丝',
                                    data: followerList
                                }]
                            });
                        });
    div(style="height: 50px")
    div
        span#myArticle
            table(data-toggle="table", data-sort-name="date", data-sort-order="desc")
                thead
                    tr
                        th(data-field="title", data-sortable="false") 文章标题
                        th(data-field="date", data-sortable="true") 发布时间
                        th(data-field="reading", data-sortable="true") 阅读量
                        th(data-field="comment", data-sortable="true") 评论
                        th(data-field="favorite", data-sortable="true") 喜欢
                    tbody
                        each article in myArticle
                            tr
                                td
                                    a(href='http://www.jianshu.com' + '#{article.articleHref}') #{article.article}
                                td #{article.publishDate}
                                td #{article.reading}
                                td #{article.comment}
                                td #{article.favorite}
