extends layout

block content
  div
    a(class='nav' href='') 热门
    a(class='nav' href='') 新上榜
  div
    table
      thead
        tr
          td 文章标题
          td 作者
          td 关注
          td 粉丝
      tbody
        each result in results
          tr
            td
              a(href='http://www.jianshu.com' + '#{result.articleUrl}') #{result.articleTitle}
            td
              a(href='http://www.jianshu.com' + '#{result.authorUrl}') #{result.author}
            td #{result.following}
            td #{result.follower}
