extends layout

block content
    include header
    form(action='/search', method='post')
        if result == null
            input(name='searchContent', value='', placeholder='请输入搜索内容')
        else
            input(name='searchContent', value='#{searchContent}')
        button(type='submit') 搜索
    if result==null
        p
    else
        p
            div#article
                table
                    thead
                        tr
                            td 文章标题
                            td 作者
                    tbody
                        each article in result
                            tr
                                td(style="text-align: left;")
                                    a(href='http://www.jianshu.com' + '#{article.articleHref}') #{article.title}
                                td
                                    a(href='http://www.jianshu.com' + '#{article.authorHref}') #{article.author}